a:hover {
    text-decoration: none;
}
.shop-banner {
    position: relative;
    display: block;
    
    background: linear-gradient(to bottom, rgba(241, 174, 25, 0.7), rgba(241, 39, 17, 0.7)), url(banner.jpg)no-repeat center center fixed;
    
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #222;
    width: 100%;
    height: 50vh;
}
.shop-centered {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.shop-spacer {
    height: 40px;
}
.shop-col-card , .shop-item-card{
    background: #fff;
    height: 250px;
    padding: 15px;
    -webkit-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);
    box-shadow: 0px 7px 8px -5px rgba(0,0,0,0.28);}
    .bold {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 15px;
    }
    .shop-description {
        width: 80%;
        margin: 15px auto;
        font-weight: 600;
    }
 
.shop-page-wrapper {
    display: flex;
    position: relative;
    width: 70%;
    margin: 15px auto;
  }
  .shop-margin-auto {
      display: block;
      margin: 0 auto;
  }

  .shop-margin-top-negative {
    margin-top: -60px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .shop-three-column {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: 30%;
    margin: 15px auto;
    margin-bottom: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
  }
  .shop-four-column {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: 22%;
    margin: 15px auto;
    margin-bottom: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
  }
.shop-icon {
    text-align: center;
    font-size: 30px;
    margin-top: -45px;}
    .shop-icon > * {
        background: #fff;
        padding: 15px;
        border-radius: 50%;
    }
.shop-item-card {
    position: relative;
    display: block;
    padding: 0 40px 40px 40px;
    height: auto;}
    .shop-item-image {
        display: block;
        width: 70%;
        margin: auto;}
    .shop-item-card > p, .shop-item-card > a {
        margin: 10px;}
        .a-p {border-left: 10px solid white; padding-left: 15px; transition: 0.5s;}
        
        .a-p:hover {border-left: 20px solid white; padding-left: 15px; transition: 0.5s;}
    .shop-buy {
        padding: 5px 15px;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        margin: 10px;
        color: #fff;
        background: orange;
        text-decoration: none;}
        .shop-buy:hover{
            text-decoration: none; 
            border: none;
            background: #222;
            cursor: pointer;}
        .shop-ribbon {
            position: absolute;
            top: 16px;
            right: -26px;
            width: 80px;
            text-align: center;
            transform: rotate(45deg);
            padding: 5px 15px;}
            .shop-ribbon > p.bold {
                margin: 0;}
                .shop-ribbon-green {background: #39b54a; color: #fff;}
                .shop-ribbon-red {background: #ee3a22; color: #fff;}
    
    .row-fix {
        margin-top: 50px;
    }

    .full-width {
        display: block;
        width: 100%;
        background: #fff;
        padding: 50px 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .b-black {
        color: #fff;
        background: #2d2d2d;
    }
    .b-gray {
        background: #333333;
    }
    .shop-banner-title {
        font-size: 25px;
        letter-spacing: 3px;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
    }
    .shop-btn {
        padding: 10px 15px;
        color: white;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: transparent;
        border: 2px solid white;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .no-shadow {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .shop-line {
        position: relative;
        display: block;
        margin: 10px;
        height: 2px;
        background: #fff;
        width: 70%;
    }
    .footer-card {height: auto;}
    .footer-meta {padding: 10px; text-align: center;}
    .footer-meta > p {
        margin: 0;
        color: white;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 400;
    }
    .footer-card > a {
        display: block;
    }
  

    @media screen and (max-width: 1030px) {
    
        .shop-three-column {
            flex-basis: 40%;
        }
        .shop-four-column {
            flex-basis: 40%;
        }
    }

    @media screen and (max-width: 769px) {
        .shop-three-column {
            flex-basis: 100%;
        }
        .shop-four-column {
            flex-basis: 40%;
        }
    }

    @media screen and (max-width: 426px) {
        a > p {
            font-size: 10px;
        }
            
        .shop-col-card {
            height: 300px;
        }
        .shop-item-card {
            height: auto;
        }
        .shop-four-column {
            flex-basis: 100%;
        }
    }